/* Importing the TailwindCSS styles */
@import "tailwindcss";

/* Defining the 'Playfair Display' font-face for bold text (700 weight) */
@font-face {
  font-family: "Playfair Display"; /* Font family name */
  src: url("/fonts/PlayfairDisplay-Bold.woff2") format("woff2"); /* Path to the font file */
  font-weight: 700; /* Bold font weight */
  font-style: normal; /* Normal font style */
  font-display: swap; /* Ensures text is visible during font loading */
}

/* Defining the 'Inter' font-face for medium text (500 weight) */
@font-face {
  font-family: "Inter"; /* Font family name */
  src: url("/fonts/Inter-Medium.woff2") format("woff2"); /* Path to the font file */
  font-weight: 500; /* Medium font weight */
  font-style: normal; /* Normal font style */
  font-display: swap; /* Ensures text is visible during font loading */
}

/* Defining the 'Inter' font-face for regular text (400 weight) */
@font-face {
  font-family: "Inter"; /* Font family name */
  src: url("/fonts/Inter-Medium.woff2") format("woff2"); /* Path to the font file */
  font-weight: 400; /* Regular font weight */
  font-style: normal; /* Normal font style */
  font-display: swap; /* Ensures text is visible during font loading */
}

/* Defining the custom theme variables for fonts and colors */
@theme {
  --font-playfair: "Playfair Display", "serif"; /* Custom variable for Playfair font */
  --font-inter: "Inter", "sans-serif"; /* Custom variable for Inter font */
  --color-primary: #1a2a83; /* Primary color for the theme */
  --color-secondary: #fc5e03; /* Secondary color for the theme */
  --color-tertiary: #0e0e0e; /* Tertiary color for the theme */
  --color-text: #f3f3f3; /* Text color for the theme */
  --color-placeholder: #636363; /* Placeholder color for input fields */
  --color-input: #f9f9f9; /* Background color for input fields */
  --color-focus: #5e89ff;
  --color-error: #ff002b; /* Error color for form validation or alerts */
  --breakpoint-sm: 30rem;
}

.loading {
  border-bottom-color: #fc5e03;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.redirecting {
  display: block;
  position: relative;
  background: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
}
.redirecting::after {
  content: "";
  width: 40%;
  height: 100%;
  background: #fc5e03;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

@media (max-height: 600px) {
  .override-height {
    height: 40rem !important;
  }
}
